div(class='footer')
	div(class='instagram')
		div(class='logo')
			a(href='http://instagram.com/su_acupuntura', target='_blank')
				img(src='/img/instagram.png', title='Instagram')
	div(class='facebook')
		div(class='logo')
			a(href='https://www.facebook.com/pages/Acupuntura-e-Beleza/226911230682676?ref=hl', target='_blank')
				img(src='/img/facebook.png', title='Facebook')