extends master.jade

block content
	div(class='beauty')
		div(class='bar')
			div(class='title').
				Tratamentos Estéticos
		div(class='treatment')
			div(class='image')
				img(src='/img/peelingcristal.png')
			div(class='info')
				div(class='subtitle').
					PEELING DE CRISTAL
				div(class='text').
					Técnica italiana de microdermoabrasão tanto facial, quanto corporal. Consiste em
					uma jato de cristais de óxido de alumínio que ao mesmo tempo em que são liberados,
					também são sugados. Retira suavemente a primeira camada da pele, estimulando o crescimento
					de uma nova, mais lisa, firme, mais uniforme e com rugas atenuadas. Sem contra indicações
					o paciente segue na rotina normal.
		div(class='treatment')
			div(class='image')
				img(src='/img/peelingdiamante.jpg')
			div(class='info')
				div(class='subtitle').
					PEELING DE DIAMANTE
				div(class='text').
					Técnica de microdermoabrasão na qual a pele é levemente sugada e exposta a uma ponteira
					diamantada. Proporciona uma limpeza na pele, controle da oleosidade, renovação celular,
					atenua rugas, manchas e estimula a produção de colágeno.
		div(class='treatment')
			div(class='image')
				img(src='/img/radiofrequencia.jpg')
			div(class='info')
				div(class='subtitle').
					RADIOFREQUÊNCIA
				div(class='text').
					Tratamento padrão ouro para tratamento de flacidez e celulite. Ajuda a remodelar o corpo. Tratamento ideal para 					ser realizado no rosto, no combate a flacidez, rugas e papada. Indolor e resultados desde a primeira sessão.
		div(class='treatment')
			div(class='image')
				img(src='/img/endermologia.png')
			div(class='info')
				div(class='subtitle').
					ENDERMOLOGIA
				div(class='text').
					Tratamento que utiliza o vácuo como principio básico. Um sistema de roletes massageia
					profundamente a pele, rompendo as células de gordura, e a movimentação do mesmo,
					provoca ainda uma drenagem local. Método indicado para celulite e gordura localizada.
		div(class='treatment')
			div(class='image')
				img(src='/img/mesolifting.png')
			div(class='info')
				div(class='subtitle').
					MESOLIFTING
				div(class='text').
					Aplicação de compostos intradermicamente que estimulam a síntese de colágeno e elastina,
					dando firmeza e sustentação a pele, bem como preenchendo sulcos, rugas e depressões.
					Pode ser aplicado tanto na face, quanto no corpo.
		div(class='treatment')
			div(class='image')
				img(src='/img/peelingquimico.png')
			div(class='info')
				div(class='subtitle').
					PEELING QUÍMICOS
				div(class='text').
					Conforme o tipo de pele, são aplicados ácidos que provocarão uma descamação e a
					estimulação de uma pele de aspecto mais liso. Indicado no tratamento de rugas, melasmas,
					olheiras, acne, manchas e cicatrizes. A maioria necessita ausência de exposição
					ao Sol, devido a descamação intensa.
		div(class='treatment')
			div(class='image')
				img(src='/img/intradermoterapia.png')
			div(class='info')
				div(class='subtitle').
					INTRADERMOTERAPIA
				div(class='text').
					Também conhecida como mesoterapia. É a aplicação de enzimas na intraderme, que conforme
					a finalidade, melhoram o aspecto da celulite, eliminam gorduras localizadas, suavizam
					estrias. Também é usada no tratamento da calvície.
		div(class='treatment')
			div(class='image')
				img(src='/img/ultrassom.jpg')
			div(class='info')
				div(class='subtitle').
					ULTRASSOM
				div(class='text').
					Tratamento para gordura localizada e celulite, que provoca um aumento do metabolismo
					local e a queima da gordura, devido a agitação promovida sobre as moléculas.