extends master.jade

block content
    div(class='home')
        div(class='bar')
            div(class='text')
                | Atendimentos em Caxias do Sul<br /><br />
                | Agende sua consulta pelos telefones:<br /><br />
                | (54) 3221-0479<br />
                | (54) 8149-3777<br />
        div(class='images')
            div(class='image')
                img(src='/img/home_img1.jpg')
            div(class='image')
                img(src='/img/home_img2.jpg')
            div(class='image')
                img(src='/img/home_img3.jpg')
        div(class='text')
            | Que tal ter o alívio das dores, perder uns quilinhos, melhorar o sono e ainda se
            | sentir super relaxado? Estes benefícios e muito outros você pode obter com as técnicas
            | de medicina chinesa.<br /><br />
            | <span class='bold'>Através do reequílibrio do organismo é possíver tratar diversos problemas:</span><br /><br />
            | Dores na coluna<br />
            | Dores em ombro, joelho, quadril, tendões e ligamentos<br />
            | Obesidade<br />
            | Ansiedade<br />
            | Depressão<br />
            | Reumatismo<br />
            | TPM, menopausa<br />
            | Tratamento de AVC<br />
            | Nervo Ciático<br />
            | Dores no estômago, azia<br />
            | Enxaqueca<br />
            | Labirintite<br /><br />
            <span class='bold'>E ainda uma série de tratamentos estéticos:</span><br /><br />
            | Gordura localizada<br />
            | Celulite<br />
            | Flacides corporal e facial<br />
            | Acne<br />
            | Quelóides<br />
            | Rugas<br /><br />
            <span class='bold'>Experimente a possibilidade de ter muito mais saúde e beleza sem efeitos colaterais agora mesmo!</span>