extends master.jade

block content
	div(class='localization')
		div(class='bar')
			div(class='title').
				Localização
		div(class='place')
			div(class='subtitle').
				Consultório em Caxias do Sul
			div(class='images')
				div(class='image')
					img(src='/img/consultorio_1.jpg')
				div(class='image')
					img(src='/img/consultorio_2.jpg')
				div(class='image')
					img(src='/img/consultorio_3.jpg')
			div(class='info')
				| Rua Garibaldi, 789 sala 127<br />
				| Caxias do Sul, Rio Grande do Sul<br />
				| Fone: (54) 3221-0479<br />
				| Email: dra.suelen.oliveira@gmail.com<br />