doctype html
html(lang='en')
    head
        title Dra. Suélen de Oliveira
        link(rel='stylesheet', href='/css/site.css')
    body
        div(class='center')
            include ./includes/header.jade
            block content
            
        include ./includes/footer.jade