extend master.jade

block content
	div(class='suelen')
		div(class='bar')
			div(class='title').
				Dra. Suélen de Oliveira
		div(class='image')
			img(src='/img/suelen.jpg')
		div(class='text').
			Biomédica, formada pela Universidade Feevale, e pós-graduada em Acupuntura, Estética e Cosmetologia e Citologia. Participou 			do Programa de Aperfeiçoamento da Escola Chinesa de Medicina localizada em Xiamen (sudeste da China) onde obteve a formação 			complementar nas demais técnicas de Medicina Tradicional Chinesa, e pode ter a experiência de ver e aprender os tratamentos 			utilizados por este povo há mais de 5 mil anos. Membro da Associação Brasileira de Medicina Complementar, Associação 					Biomédica de Acupuntura, e Associação Brasileira de Acupuntura Estética e Laser.