extend master.jade

block content
	div(class='treatments')
		div(class='bar')
			div(class='title').
				Tratamentos - Medicina Tradicional Chinesa
		div(class='treatment')
			div(class='image')
				img(src='/img/treatments_img1.jpg')
			div(class='info')
				div(class='subtitle').
					ACUPUNTURA
				div(class='text').
					Tratamento milenar na China e de eficácia comprovada em diversas doenças, dentre
					elas dores na coluna, problemas circulatórios, obesidade, depressão, ansiedade,
					reumatismo, labirintite, dores no joelho, tornozelo, tendinites ... O paciente é
					tratado por completo, tendo como retorno um bem-estar inigualável. O tratamento
					pode ser feito com ou SEM AGULHAS.
		
		div(class='treatment')
			div(class='image')
				img(src='/img/acupuntura_laser.jpg')
			div(class='info')
				div(class='subtitle').
					ACUPUNTURA A LASER
				div(class='text').
					Método 100% indolor, ideal para pessoal com aversão a agulha, ou áreas muito sensíveis como face e pés. Bem como					excelente para tratamentos estéticos.
		
		div(class='treatment')
			div(class='image')
				img(src='/img/auriculo.jpg')
			div(class='info')
				div(class='subtitle').
					AURICULOTERAPIA
				div(class='text').
					Estimulação de pontos existentes na orelha utilizando sementes ou pequenas esferas,
					que ao longo do tempo vão trazendo benefícios tais quais a acupuntura. Muito conhecido
					por auxiliar no emagrecimento, ansiedade e tratamento de vícios.
		div(class='treatment')
			div(class='image')
				img(src='/img/florais.jpg')
			div(class='info')
				div(class='subtitle').
					FLORAIS DE BACH
				div(class='text').
					O tratamento através do uso dos Florais de Bach é muito conhecido principalmente
					no tratamento de problemas psicológicos (ansiedade, depressão, agitação mental).
					Dr. Edward Bach demontrou que muitas patologias tem fundo emocional, e que tratando
					este aspecto, é possivel curar diversas doenças.
		div(class='treatment')
			div(class='image')
				img(src='/img/guasha.jpg')
			div(class='info')
				div(class='subtitle').
					GUA SHA
				div(class='text').
					Técnica da Medicina Tradicional Chinesa de passagem que utiliza a Pedra de Jade.
					Excelente para dores nas costas provenientes de tensão, e muito utilizada na estética
					facial, pois a massagem com a pedra revitaliza a pele.
		div(class='treatment')
			div(class='image')
				img(src='/img/eletroacupuntura.jpg')
			div(class='info')
				div(class='subtitle').
					ELETROACUPUNTURA
				div(class='text').
					Técnica que utiliza a eletroestimulação, podendo ser utilizada eletrodos presos
					às agulhas ou um aparelho chamado Hai Hua, que promove um estimulação eletromagnética
					sem o uso de agulhas. Em estética esta técnica funciona como a corrente russa, excelente
					para celulite e gordura localizada.
		div(class='treatment')
			div(class='image')
				img(src='/img/acupuntura_estetica.jpg')
			div(class='info')
				div(class='subtitle').
					ACUPUNTURA ESTÉTICA
				div(class='text').
					Tratamentos tanto faciais quanto corporais, que podem ser realizados com ou sem
					o uso de agulhas, conforme a necessidade do paciente. São utilizados diversos métodos
					que reduzem a gordura localizada, celulite, quelóides, estrias, rugas, olheiras
					e flacidez facial. O tratamento utilizando pó de pérola ainda é excelente na redução
					de manchas no rosto.
		div(class='treatment')
			div(class='image')
				img(src='/img/moxabustao.jpg')
			div(class='info')
				div(class='subtitle').
					MOXABUSTÃO
				div(class='text').
					Estimulação de pontos utilizando a queima de uma bastão de artemísia que aquece
					o local. Excelente alternativa aos que sofrem de dores na coluna, e problemas respiratórios,
					mas tem medo de agulhas.
		div(class='treatment')
			div(class='image')
				img(src='/img/ventosas.jpg')
			div(class='info')
				div(class='subtitle').
					VENTOSAS
				div(class='text').
					Técnica que utiliza a sucção da pele, promovendo um aumento da oxigenação local.
					Indicado para dores, estética facial (promove a produção de colágeno e elastina),
					e no tratamento da celulite (funciona como a endermologia).
		div(class='treatment')
			div(class='image')
				img(src='/img/fitoterapia.jpg')
			div(class='info')
				div(class='subtitle').
					FITOTERAPIA
				div(class='text').
					Tratamento complementar onde são indicados cápsulas e alimentos que irão auxiliar
					na melhora do paciente.